html {
  margin: 0px;
  height: 100%;
  width: 100%;
}
body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  font-family: "Jura", sans-serif;
}
.card {
  margin-bottom: 0;
}
h3 {
  clear: both;
}
.navbar {
  background-color: #858384;
}
.navbar-brand {
  font-size: x-large;
}
h3 {
  color: #858384;
}
.nav-link {
  background-color: #e6e4e6;
  color: #aa9fa7;
}
.nav-link:hover {
  color: #858384;
}
footer {
  padding-top: 15px;
  text-align: center;
  height: 70px;
  border-top: 3px solid darkgrey;
  background-color: #e6e4e6;
}
