.card {
  margin-bottom: 0;
}
footer {
  margin-top: 100px;
  margin-bottom: 0px;
  padding-top: 15px;
  background-color: lightgray;
  text-align: center;
  height: 70px;
  border-top: 3px solid darkgrey;
}
h3 {
  clear: both;
}
